.cards {
    display: flex;
    /* wwrap onu edir:ki eger content bir setire sigmirsa yeni setirden avtomatik yaz */
    flex-wrap: wrap;
    gap: 40px 4%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5%;
}

.card {
    display: flex;
    width: 48%;
    /* flex ve gridler arasindaki boslugu teyin edir,gap bir sozle elementler arasinda mesafe yaradir */
    gap: 20px;
    /* flex start da elemntler yuxari terefde yerlesdirilir(containerin) */
    align-items: flex-start;
    /* yazmiriq cunki solda olanlari 1 dive aldiq ve default onsux rowdu */
    /* flex-direction:column; */
}

.card-image {
    width: 180px;
    height: 180px;
    /* container daralanda sekilin olcusunu meselen  kicildende nece daralacagini teyin edir*/
    flex-shrink: 0; /*0 element container draralanda bele kicile bilmez demekdir*/
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.card-title h3 {
    margin: 0 0 10px 0;
    font-size: 1.3rem;
    font-weight: 800;
}

.card-text p {
    margin: 0 0 10px 0;
    font-size: 1rem;
    color: #333;
    line-height: 1.4;
}

.card-link h5 {
    margin: 0;
    font-weight: bold;
    color: #555;
    margin-top:5%;
}