body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#page {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    gap: 40px;
}


.left-content {
    /* elementler bos saheni beraber paylayacaq  boyuyecekse hamisi beraber olcude boyuyecek daralandada eyni olcude daralacaq*/
    flex: 1;
}

.text h1 {
    font-size: 36px;
    margin: 0;
    position: relative; /* ::after ucun mutleqdir */
    padding-bottom: 10px; /* xett ucun yer*/
}

.text span {
    display: block;
    font-size: 24px;
    color: #555;
    margin-top: -10px;
}

.text-description {
    font-size: 18px;
    color: #666;
    margin-top: 60px;
    position: relative;
    padding-bottom: 10px; /* xətt üçün yer */
}


.text h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom:-50px;
    width: 25%; /* butun basligin altinda olsun deye yaziriq*/
    height: 4px; /* xettin qalinligi */
    background: linear-gradient(
        90deg, 
        rgba(180, 82, 58, 1) 2%, 
        rgba(212, 206, 39, 1) 19%, 
        rgba(29, 253, 74, 1) 32%, 
        rgba(42, 152, 242, 1) 46%, 
        rgba(136, 109, 206, 1) 57%, 
        rgba(252, 69, 200, 1) 72%, 
        rgba(252, 69, 69, 1) 85%
    );
    border-radius: 2px;
}


.page-icons {
    flex: 1;
    /* grid iki olculu 2x2 elemek ucundur */
    display: grid;
    /* sutnlarin nece ve hansi olcude olacagini duzenleyir */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.icon {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    /* shadow 3olculu goruntu verir */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.icon:hover {
    /* hover effekti ustune nursoru getirende animasyonlu gorunsun deyedir */
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.icon p {
    font-size: 16px;
    color: #333;
    margin: 0;
}


